@import "./mixins.scss";
:root {
  // ============================ Theme ============================
  --primary-hue: 220;
  --secondary-hue: 250; // Purple
  --success-hue: 144; // Green
  --danger-hue: 350; // Red
  --warning-hue: 40; // Yellow
  --info-hue: 195; // Light Blue

  @include gen-color("primary", var(--primary-hue), 100%, 50%);
  @include gen-color("secondary", var(--secondary-hue), 100%, 50%);
  @include gen-color("success", var(--success-hue), 100%, 50%);
  @include gen-color("danger", var(--danger-hue), 100%, 50%);
  @include gen-color("warning", var(--warning-hue), 100%, 50%);
  @include gen-color("info", var(--info-hue), 100%, 50%);
  @include gen-color("light", 0, 0%, 98%);
  @include gen-color("dark", 0, 0%, 15%);

  --bg-color: hsl(0, 0%, 98%);
  --bg-color-dark: hsl(0, 0%, 95%);
  --bg-color-light: hsl(0, 0%, 100%);
  --border-color: hsl(0, 0%, 80%);
  --title-color: #000;
  --text-color: hsl(0, 0%, 25%);
  --text-light: hsl(0, 0%, 50%);

  body.dark {
    --bg-color: hsl(var(--primary-hue), 20%, 10%);
    --bg-color-dark: hsl(var(--primary-hue), 20%, 8%);
    --bg-color-light: hsl(var(--primary-hue), 20%, 15%);
    --border-color: hsl(0, 0%, 20%);
    --title-color: #fff;
    --text-color: hsl(0, 0%, 75%);
    --text-light: hsl(var(--primary-hue), 20%, 50%);
  }

  // ============================ Shadows ============================
  --box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.25);
  --box-shadow-inset: inset 0px 0px 10px 0px hsla(0, 0%, 0%, 0.25);
  --box-shadow-light: 0px 0px 5px 0px hsla(0, 0%, 0%, 0.1);
  --box-shadow-inset-light: inset 0px 0px 5px 0px hsla(0, 0%, 0%, 0.15);
  --card-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  --neumorphic: 5px 5px 10px hsla(0, 0%, 0%, 10%),
    -5px -5px 5px hsla(0, 0%, 100%, 5%);
  --neumorphic-inset: inset 5px 5px 10px hsla(0, 0%, 0%, 10%),
    inset -5px -5px 10px hsla(0, 0%, 100%, 10%);
  --border-radius: 10px;

  // ============================ Typography ============================
  --font-family: "Poppins", sans-serif;
  --title-size: 3rem;
  --section-title-size: 2.25rem;
  --heading-size: 1.5rem;
  --subheading-size: 1.25rem;
  --font-size: 1rem;
  --font-small: 0.875rem;
  --font-smaller: 0.813rem;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-dropdown: 100;
  --z-fixed: 1000;
  --z-modal: 10000;

  // ============================ Layout ============================
  --header-height: 4rem;
  --sidebar-width: 300px;

  @include breakpoint("laptop") {
    --title-size: 2rem;
    --section-title-size: 1.5rem;
    --heading-size: 1.25rem;
    --subheading-size: 1.125rem;
    --font-size: 0.938rem;
    --font-small: 0.813rem;
    --font-smaller: 0.75rem;
  }

  @include breakpoint("phone") {
    --title-size: 1.5rem;
    --section-title-size: 1.25rem;
    --heading-size: 1.125rem;
    --subheading-size: 0.938rem;
    --font-size: 0.9rem;
    --font-small: 0.8rem;
    --font-smaller: 0.75rem;
  }
}
