@import "../../styles/mixins.scss";

.header {
  .nav {
    &-item {
      height: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      color: var(--text-color);

      &:hover,
      &.active {
        color: var(--title-color);
      }

      &.disabled {
        color: var(--text-light);
        pointer-events: none;
        cursor: auto;

        &:hover,
        &.active {
          color: var(--text-light);
        }
      }
    }

    &-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
}

@include breakpoint("sm") {
  .nav {
    &-item {
      height: auto !important;
    }

    &-menu {
      padding: 2rem 2rem;
      flex-direction: column;
      gap: 1rem;
      align-items: start;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      height: max-content;
      width: 100vw;
      background-color: var(--bg-color);
      box-shadow: var(--box-shadow);
      &-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }
  }
}
